<template>
  <div>
    <Heading name="Filter" class="mb-4" />
    <div class="columns">
      <div class="column is-narrow m-auto">
        <p>Filter on Price:</p>
        {{ $store.getters.getMaxPrice }}
      </div>
      <div class="column">
        <b-field>
          <b-slider
            v-model="price"
            :min="$store.getters.getPriceRange.min"
            :max="$store.getters.getPriceRange.max"
            :step="10"
            @change="setPriceFilter"
          >
          </b-slider>
        </b-field>
      </div>
    </div>
  </div>
</template>

<script>
import Heading from "@/components/heading.vue";
export default {
  components: {
    Heading,
  },
  data() {
    return {
      price: this.$store.getters.getFilterPrice,
    };
  },
  methods: {
    setPriceFilter() {
      this.$store.commit("setFilterPrice", this.price);
    },
  },
};
</script>