<template>
  <div class="box p-6">
    <div class="columns">
      <div class="column m-auto">
        <h1 class="subtitle is-4">{{ shift.title }}</h1>
      </div>
      <div class="column text-align-right">
        <b-button
          class="is-medium"
          type="is-text"
          icon-right="pencil"
          @click="$emit('editClick', position)"
        />
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <p>{{ shift.description }}</p>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <h1 class="subtitle is-4">Dates</h1>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <ShiftDates
          v-for="(date, index) in shift.dates"
          :key="index"
          :date="date"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ShiftDates from "@/components/shiftDates.vue";
export default {
  name: "shiftCard",
  components: {
    ShiftDates,
  },
  props: {
    shift: Object,
    position: Number,
  },
};
</script>