<template>
  <div class="tile has-background-primary has-text-white mb-5 columns tile-box">
    <div class="column">{{ dateDisplay(date.date) }}</div>
    <div class="column">{{ timeDisplay(date.startTime) }}</div>
    <div class="column">{{ timeDisplay(date.endTime) }}</div>
    <div class="column">{{ date.type }}</div>
    <div class="column">&euro;{{ date.price }}</div>
  </div>
</template>

<script>
import { dateDisplay, timeDisplay } from "@/misc/index";
export default {
  name: "shiftDates",
  props: {
    date: Object,
  },
  methods: {
    dateDisplay: dateDisplay,
    timeDisplay: timeDisplay,
  },
};
</script>