<template>
  <section>
    <b-sidebar
      type="is-light"
      :fullheight="fullheight"
      :fullwidth="fullwidth"
      :overlay="overlay"
      :right="right"
      v-model="open"
      class="custom-sidebar"
      @close="closeSidebar"
    >
      <div class="form-heading">
        <Heading name="Create/Edit" />
      </div>
      <div class="form-content">
        <b-field label="Title">
          <b-input v-model="form.title" maxlength="100"></b-input>
        </b-field>

        <b-field label="Description">
          <b-input
            maxlength="500"
            type="textarea"
            v-model="form.description"
          ></b-input>
        </b-field>

        <b-field label="Select a date">
          <b-datepicker
            v-model="form.dateRange"
            multiple
            @input="changeDateRange"
          >
          </b-datepicker>
        </b-field>

        <div
          class="dates-ranges"
          v-for="(date, index) in form.dates"
          :key="index"
        >
          <div class="columns">
            <div class="column m-auto">
              <p>{{ dateDisplay(form.dates[index].date) }}</p>
            </div>
            <div class="column text-align-right">
              <b-button
                class="is-medium"
                type="is-text"
                icon-right="close"
                @click="removeDate(index)"
              />
            </div>
          </div>

          <div
            class="
              columns
              tile
              has-background-primary has-text-white
              tile-box
              mb-5
            "
          >
            <div class="column">
              <div class="columns">
                <div class="column">
                  <b-field label="Start time">
                    <b-clockpicker
                      icon-right="clock"
                      v-model="form.dates[index].startTime"
                      hour-format="12"
                    >
                    </b-clockpicker>
                  </b-field>
                </div>
                <div class="column">
                  <b-field label="End time">
                    <b-clockpicker
                      icon-right="clock"
                      v-model="form.dates[index].endTime"
                      hour-format="12"
                      :min-time="form.dates[index].startTime"
                    >
                    </b-clockpicker>
                  </b-field>
                </div>
                <div class="column">
                  <b-field label="Price">
                    <b-input
                      icon-right="currency-eur"
                      v-model="form.dates[index].price"
                    >
                    </b-input>
                  </b-field>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <b-field label="Type">
                    <b-select
                      placeholder="Select a Type"
                      expanded
                      v-model="form.dates[index].type"
                    >
                      <option
                        v-for="option in type"
                        :value="option"
                        :key="option"
                      >
                        {{ option }}
                      </option>
                    </b-select>
                  </b-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="columns form-action mt-auto">
        <div class="column" v-if="editData !== null">
          <b-button type="is-primary is-button-full" outlined @click="Delete"
            >Delete</b-button
          >
        </div>

        <div class="column" v-else>
          <b-button
            type="is-primary is-button-full"
            outlined
            @click="closeSidebar"
            >Close</b-button
          >
        </div>

        <div class="column">
          <b-button
            type="is-primary is-button-full"
            @click="save"
            :disabled="isButtonDisable"
            >Saved</b-button
          >
        </div>
      </div>
    </b-sidebar>
  </section>
</template>

<script>
import Heading from "@/components/heading.vue";
import { dateDisplay } from "@/misc/index";
import { cloneDeep } from "lodash";

export default {
  components: {
    Heading,
  },
  props: {
    sideBarOpen: {
      type: Boolean,
      default: false,
    },
    editData: {
      type: Number,
      default: null,
    },
  },
  mounted() {
    if (this.editData !== null) {
      let data = cloneDeep(this.$store.state.shifts);
      this.form.title = data[this.editData].title;
      this.form.description = data[this.editData].description;
      this.form.dateRange = data[this.editData].dateRange;
      this.form.dates = data[this.editData].dates;
    }
  },
  data() {
    return {
      open: true,
      overlay: true,
      fullheight: true,
      fullwidth: false,
      right: true,
      form: {
        title: null,
        description: null,
        dateRange: [],
        dates: [],
      },
      type: ["Consultation", "Telephone", "Ambulance"],
    };
  },
  computed: {
    isButtonDisable() {
      if (this.form.dates.length >= 1 && this.form.dates.length <= 10) {
        return false;
      }
      return true;
    },
  },
  methods: {
    dateDisplay: dateDisplay,
    changeDateRange() {
      this.form.dates.push({
        date: this.form.dateRange[this.form.dateRange.length - 1],
        startTime: null,
        endTime: null,
        type: null,
        price: 0,
      });
    },
    removeDate(position) {
      this.form.dateRange.splice(position, 1);
      this.form.dates.splice(position, 1);
    },
    save() {
      if (this.editData !== null) {
        this.$store.commit("editShift", {
          position: this.editData,
          data: this.form,
        });
        this.$emit("sideBarClose");
      } else {
        this.$store.commit("addShift", this.form);
        this.$emit("sideBarClose");
      }
    },
    Delete() {
      if (this.editData !== null) {
        this.$store.commit("deleteShift", this.editData);
      }
      this.$emit("sideBarClose");
    },
    closeSidebar() {
      this.$emit("sideBarClose");
    },
  },
};
</script>