@import "./variable.scss"; //Import Variable SCSS file to use SCSS Variable

/* Custome CSS */
.text-align-right {
  text-align: right;
}

.tile-box {
  border-radius: 4px;
}

.custom-sidebar .sidebar-content {
  width: 500px;
  padding: 20px;
}

.is-button-full {
  width: 100%;
}

.tile-box .label {
  color: white;
}

.custom-heading::after {
  content: "";
  display: block;
  width: 32px;
  padding-top: 3px;
  border-bottom: 5px solid $secondary;
}

.icon.is-right {
  color: $primary !important;
}
