<template>
  <section class="section">
    <PriceFilter class="mb-6" />
    <div class="columns mb-2">
      <div class="column">
        <Heading name="Shifts" />
      </div>
      <div class="column text-align-right">
        <b-button type="is-primary" @click="addShift">ADD SHIFT</b-button>
      </div>
    </div>

    <ShiftCard
      v-for="(shift, index) in getShifts"
      :key="index"
      :shift="shift"
      :position="index"
      @editClick="editShift"
    />

    <SideBar
      :editData="editData"
      v-if="sideBarOpen"
      @sideBarClose="sideBarClose"
      :sideBarOpen="sideBarOpen"
    />
  </section>
</template>

<script>
import PriceFilter from "@/components/priceFilter.vue";
import Heading from "@/components/heading.vue";
import ShiftCard from "@/components/shiftCard.vue";
import SideBar from "@/components/sideBar.vue";
import { cloneDeep } from "lodash";

export default {
  name: "HomePage",
  components: {
    PriceFilter,
    Heading,
    ShiftCard,
    SideBar,
  },
  data() {
    return {
      sideBarOpen: false,
      editData: null,
    };
  },
  computed: {
    getShifts() {
      if (this.$store.state.filter.price.length > 0) {
        let minPrice = this.$store.state.filter.price[0];
        let maxPrice = this.$store.state.filter.price[1];

        let shifts = cloneDeep(this.$store.state.shifts);
        return shifts
          .map((shift) => {
            shift.dates = shift.dates.filter(
              (date) => date.price >= minPrice && date.price <= maxPrice
            );
            return shift;
          })
          .filter((shift) => shift.dates.length !== 0);
      }
      return this.$store.state.shifts;
    },
  },
  methods: {
    editShift(event) {
      this.editData = event;
      this.sideBarOpen = !this.sideBarOpen;
    },
    addShift() {
      this.editData = null;
      this.sideBarOpen = !this.sideBarOpen;
    },
    sideBarClose() {
      this.sideBarOpen = !this.sideBarOpen;
    },
  },
};
</script>
